<!-- cart-drawer-comp.liquid START -->
{{ 'cart-drawer.comp.css' | asset_url | stylesheet_tag }}

{%- liquid
    assign thresholdBlocks = section.blocks | where: 'type','threshold'
    assign itemsBlocks = section.blocks | where: 'type','items'
    assign detailsBlocks = section.blocks | where: 'type','details'
-%}

<style>

</style>

<script>
{%- if thresholdBlocks.size > 0 -%}
    document.addEventListener('alpine:init', () => {
        Alpine.data('shippingThreshold',({}={}) => ({
            threshold: {{ settings.free_shipping_threshold | default: false }},
            get remaining() {
                return Daybreak.currency.format((this.threshold-this.cartValue)/100)
            },
            get cartValue(){
                return this.$store.cart.value
            }
        }))
    });
{%- endif -%}

</script>

<div x-data="cart" x-effect="$store.cart.isOpen?document.body.classList.add('scroll-lock'):document.body.classList.remove('scroll-lock')">
    <cart-backdrop class="backdrop-filter" @click="$store.cart.isOpen = false" x-show="$store.cart.isOpen" x-cloak style="display: none"
        x-transition:enter-start="translate-y-full"
        x-transition:leave-end="translate-y-full"> </cart-backdrop>
    <cart-drawer x-show="$store.cart.isOpen" x-cloak style="display: none"
    x-transition:enter-start="translate-x-full"
    x-transition:leave-end="translate-x-full">
        <cart-title>Basket</cart-title>
        <button class="close-btn" @click="$store.cart.isOpen = false">Close<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" /></svg>
        </button>
        {%- for block in thresholdBlocks -%}
            {%- if block.settings.showTop -%}
                <shipping-threshold class="{{ block.settings.style }}" x-data="shippingThreshold" x-show="threshold" style="display: none;" :class="cartValue>=threshold?'bg-cta-600/40 border-opacity-60':'border-opacity-0'">
                    <threshold-message class="block text-center" x-html="cartValue>=threshold?`{{ block.settings.afterMessage }}`:`{{ block.settings.beforeMessage }}`"></threshold-message>
                    <progress :max="threshold" :value="cartValue" x-text="`${remaining} left`" :class="cartValue>=threshold?'complete':'incomplete'"></progress>
                </shipping-threshold>
            {%- endif -%}
        {%- endfor -%}

        <cart-container>
            <template x-if="$store.cart.items.length == 0">
                <cart-empty class="w-full p-4 mx-auto text-center">{{ settings.emptyMessage }}</cart-empty>
            </template>
            {%- for block in itemsBlocks -%}
                <template x-for="(item,index) in $store.cart.items" :key="item.id">
                    <cart-item>
                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw" x-rias="item.featured_image.url" :width="item.featured_image.width" :height="item.featured_image.height" :alt="item.featured_image.alt" data-sizes="auto" loading="lazy"/>
                        <item-details>
                            <a :href="item.url" x-text="item.product_title"></a>
                            <div class="block text-gray-700" x-text="item.variant_title"></div>
                            <quantity-control>
                                <button class="border-r-0" @click.prevent="item.quantity--;updateCart(index,item.quantity)" :disabled="item.quantity <=0||updating">-</button>
                                <input type="text" disabled x-model="item.quantity" :aria-label="`Quantity: ${item.quantity}`" aria-label="Quantity:"/>
                                <button class="border-l-0" @click.prevent="item.quantity++;updateCart(index,item.quantity)" :disabled="updating">+</button>
                            </quantity-control>
                            <remove-price>
                                <button x-show="item.quantity != 0" @click.prevent="item.quantity=0;updateCart(index,item.quantity)" :disabled="updating">remove</button>
                                <old-price class="hidden" x-cloak x-text="'$19.00'" ></old-price>
                                <new-price x-text="Daybreak.currency.format(item.final_price*item.quantity/100)"></new-price>
                            </remove-price>
                        </item-details>
                    </cart-item>
                </template>
            {%- endfor -%}
        </cart-container>
        <cart-footer>
            {%- for block in detailsBlocks-%}
                <cart-details class="grid w-full grid-cols-4 mx-auto max-w-screen-xs md:w-3/4">
                    {%- if block.settings.showDiscount -%}
                        <expected-discount>Discount:</expected-discount><new-price x-text="Daybreak.currency.format($store.cart.value/100)"></new-price>
                    {%- endif -%}
                    <sub-total>
                        Subtotal:
                    </sub-total><new-price x-text="Daybreak.currency.format($store.cart.value/100)"></new-price>
                    {%- if block.settings.showShipping -%}
                        <estimated-shipping>Estimated Shipping:</estimated-shipping><new-price x-text="Daybreak.currency.format($store.cart.value/100)"></new-price>
                    {%- endif -%}
                    {%- if block.settings.showTotal -%}
                        <cart-total>Total:</cart-total><new-price x-text="Daybreak.currency.format($store.cart.value/100)"></new-price>
                    {%- endif -%}
                    {%- if block.settings.showDisclaimer -%}
                        <cart-disclaimer class="!col-span-4 text-sm italic text-gray-900/75">Shipping and taxes calculated at checkout</cart-disclaimer>
                    {%- endif -%}
                </cart-details>
            {%- endfor -%}
            <button class="w-full btn-primary" @click.prevent="window.location.href='/checkout'" :disabled="$store.cart.quantity==0||updating">
                <svg class="inline-spinner" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" x-show="updating">
                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
              </svg>
              <span x-text="updating?'updating...':`Checkout - ${Daybreak.currency.format($store.cart.value/100)}`" {%- if cart.item_count < 1 %} disabled {%- endif -%}>Checkout</span>
            </button>
            {%- for block in section.blocks -%}
                {%- case block.type -%}
                    {%- when 'threshold' -%}
                        {%- unless block.settings.showTop -%}
                            <shipping-threshold class="{{ block.settings.style }}" x-data="shippingThreshold" x-show="threshold" style="display: none;" :class="cartValue>=threshold?'bg-cta-600/40 border-opacity-60':'border-opacity-0'">
                                <threshold-message class="block text-center" x-html="cartValue>=threshold?`{{ block.settings.afterMessage }}`:`{{ block.settings.beforeMessage }}`"></threshold-message>
                                <progress :max="threshold" :value="cartValue" x-text="`${remaining} left`" :class="cartValue>=threshold?'complete':'incomplete'"></progress>
                            </shipping-threshold>
                        {%- endunless -%}
                    {%- when 'payments' -%}
                        <payment-options class="w-full">
                            <div>{{ block.settings.paymentsMessage }}</div>
                            {%- if block.settings.showDefault -%}
                                <payment-icons class="flex">
                                    {%- liquid
                                        for type in shop.enabled_payment_types
                                            echo type | payment_type_svg_tag
                                        endfor
                                    -%}
                                </payment-icons>
                            {%- endif -%}
                            {{ block.settings.custom }}
                        </payment-options>
                    {%- when 'continue' -%}
                        {%- liquid
                            case block.settings.target
                                when 'dynamic'
                                    case request.page_type
                                        when 'product'
                                            if collection.url
                                                assign attr = 'href="' | append: collection.url | append: '"'
                                            elsif block.settings.bestCollection.url
                                                assign attr = 'href="' | append: block.settings.bestCollection.url | append: '"'
                                            else
                                                assign attr = 'href="/"'
                                            endif
                                        when 'collection'
                                            assign attr = '@click.prevent="$store.cart.isOpen = false"'
                                        when 'index'
                                            assign attr = '@click.prevent="$store.cart.isOpen = false"'
                                        else
                                            assign attr = 'href="/"'
                                    endcase
                                when 'close'
                                    assign attr = '@click.prevent="$store.cart.isOpen = false"'
                                when 'home'
                                    assign attr = 'href="/"'
                                when 'bestseller'
                                    assign attr = 'href="' | append: block.settings.bestCollection.url | append: '"'
                            endcase
                        -%}
                        <a class="underline hover:opacity-75" {{ attr }}>Continue Shopping</a>
                {%- endcase -%}
            {%- endfor -%}
        </cart-footer>
    </cart-drawer>
</div>

<!-- cart-drawer-comp.liquid END -->


{% schema %}
{
    "name": "Cart Drawer",
    "tag": "aside", 
    "class": "h-0",
    "settings": [
        {
            "type": "text",
            "id": "emptyMessage",
            "label": "Empty Cart Message",
            "default": "Your cart is empty"
        },
        {
            "type": "paragraph",
            "content": "Note: Blocks in this section have default orders, and will mostly not be affected by resorting. A few have some adjustable order."
        }
    ],
    "blocks": [
        {
            "type": "items",
            "name": "Cart Items",
            "limit": 1
        },
        {
            "type": "threshold",
            "name": "Shipping Threshold",
            "limit": 2,
            "settings": [
                {
                    "type": "checkbox",
                    "id": "showTop",
                    "label": "Show at Top of Cart",
                    "default": true
                },
                {
                    "type": "select",
                    "id": "style",
                    "label": "Display Style",
                    "options": [
                        {
                            "value": "glass",
                            "label": "Glass Style Card"
                        },
                        {
                            "value": "minimal",
                            "label": "Minimalist"
                        }
                    ]
                },
                {
                    "type": "text",
                    "id": "beforeMessage",
                    "label": "Cart Too Small Message",
                    "default": "You are ${remaining} away from <strong>FREE SHIPPING</strong>",
                    "info": "Use '${remaining}' for the amount left to spend, and '${thresholdValue}' for the amount needed to qualify. Accepts HTML"
                },
                {
                    "type": "text",
                    "id": "afterMessage",
                    "label": "Message for Those Who Qualify",
                    "default": "Congratulations! You qualify for <strong>FREE SHIPPING</strong>",
                    "info": "Accepts HTML"
                }
            ]
        },
        {
            "type": "details",
            "name": "Cart Details",
            "limit": 1,
            "settings": [
                {
                    "type": "checkbox",
                    "id": "showDiscount",
                    "label": "Show Estimated Discounts",
                    "default": false,
                    "info": "For information on how to get this set up, review the theme documentation"
                },
                {
                    "type": "checkbox",
                    "id": "showShipping",
                    "label": "Show Estimated Shipping",
                    "default": false
                },
                {
                    "type": "checkbox",
                    "id": "showTotal",
                    "label": "Show Total",
                    "default": false
                },
                {
                    "type": "checkbox",
                    "id": "showDisclaimer",
                    "label": "Show Disclaimer Message",
                    "default": true
                }
            ]
        },
        {
            "type": "payments",
            "name": "Available at Checkout",
            "limit": 1,
            "settings": [
                {
                    "type": "text",
                    "id": "paymentsMessage",
                    "label": "Message for Payments",
                    "default": "Available at Checkout"
                },
                {
                    "type": "checkbox",
                    "id": "showDefault",
                    "label": "Show Default Payment Icons",
                    "default": true,
                    "info": "These Icons are generated by Shopify for your currently accepted payments as configured in your Account settings"
                },
                {
                    "type": "html",
                    "id": "custom",
                    "label": "Custom Payment Options"
                }
            ]
        },
        {
            "type": "continue",
            "name": "Continue Shopping",
            "limit": 1,
            "settings": [
                {
                    "type": "radio",
                    "id": "target",
                    "label": "Continue Link Target",
                    "default": "dynamic",
                    "options": [
                        {
                            "value": "dynamic",
                            "label": "Dynamic Target (recommended)"
                        },
                        {
                            "value": "close",
                            "label": "Close Cart Drawer"
                        },
                        {
                            "value": "home",
                            "label": "Home Page"
                        },
                        {
                            "value": "bestseller",
                            "label": "Best Sellers"
                        }
                    ]
                },
                {
                    "type": "collection",
                    "id": "bestCollection",
                    "label": "Best Sellers Collection",
                    "info": "Collection to send users to when the 'Continue Link' is set to 'Best Sellers'"
                }
            ]
        }
    ]
}
{% endschema %}