<!-- cart-drawer-comp.liquid START -->

{%- liquid
    assign thresholdBlocks = section.blocks | where: 'type', 'threshold'
    assign itemsBlocks = section.blocks | where: 'type', 'items'
    assign detailsBlocks = section.blocks | where: 'type', 'details'
-%}

<style>

</style>

<script>
{%- if thresholdBlocks.size > 0 -%}
    document.addEventListener('alpine:init', () => {
        Alpine.data('shippingThreshold',({}={}) => ({
            threshold: {{ settings.free_shipping_threshold | default: false }},
            get remaining() {
                return Daybreak.currency.format((this.threshold-this.cartValue)/100)
            },
            get cartValue(){
                return this.$store.cart.value
            }
        }))
    });
{%- endif -%}

</script>

<div x-data="cart">
    <cart-backdrop class="fixed inset-0 z-10 transition-all duration-700 ease-out transform bg-gray-900/60 md:bg-gray-900/90 backdrop-blur overscroll-contain md:backdrop-blur-[2px] backdrop-filter" @click="$store.cart.isOpen = false" x-show="$store.cart.isOpen" x-cloak style="display: none"
        x-transition:enter-start="translate-y-full"
        x-transition:leave-end="translate-y-full"> </cart-backdrop>
    <cart-drawer class="fixed inset-y-0 right-0 z-10 flex flex-col w-full transition-all duration-700 ease-out transform bg-white border border-gray-500 shadow-md xs:w-11/12 sm:w-5/6 overscroll-contain md:max-w-screen-sm" x-show="$store.cart.isOpen" x-trap.noscroll.inert="$store.cart.isOpen" x-cloak style="display: none"
    x-transition:enter-start="translate-x-full"
    x-transition:leave-end="translate-x-full"
    @keydown.escape.prevent.stop="$store.cart.isOpen=false"
    role="dialog"
    aria-modal="true">
        <cart-title class="p-2 pt-4 pl-4 text-lg">Cart</cart-title>
        <button class="absolute block px-4 py-2 right-2 top-2" @click="$store.cart.isOpen = false">Close<svg class="inline-block w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" /></svg>
        </button>
        {%- for block in thresholdBlocks -%}
            {%- if block.settings.showTop -%}
                <shipping-threshold class="max-w-full py-2 px-4 flex flex-col items-center gap-y-2 border-t border-solid border-cta-600 {{ block.settings.style }}" x-data="shippingThreshold" x-show="threshold" style="display: none;" :class="cartValue>=threshold?'bg-cta-600/40 border-opacity-60':'border-opacity-0'">
                    <threshold-message class="block text-center" x-html="cartValue>=threshold?`{{ block.settings.afterMessage }}`:`{{ block.settings.beforeMessage }}`"></threshold-message>
                    <progress :max="threshold" :value="cartValue" x-text="`${remaining} left`" :class="cartValue>=threshold?'complete':'incomplete'"></progress>
                </shipping-threshold>
            {%- endif -%}
        {%- endfor -%}

        <cart-container class="flex flex-col w-full px-1 py-2 overflow-auto divide-y divide-gray-300">
            <template x-if="$store.cart.items.length == 0">
                <cart-empty class="w-full p-4 mx-auto text-center">{{ settings.emptyMessage }}</cart-empty>
            </template>
            {%- for block in itemsBlocks -%}
                <template x-for="(item,index) in $store.cart.items" :key="item.id">
                    <cart-item class="flex flex-row w-full gap-2 px-1">
                        <img class="flex-none object-scale-down w-1/3" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw" x-rias="item.featured_image.url" :width="item.featured_image.width" :height="item.featured_image.height" :alt="item.featured_image.alt" data-sizes="auto" loading="lazy"/>
                        <item-details class="flex flex-col flex-auto">
                            <a :href="item.url" x-text="item.product_title"></a>
                            <div class="block text-gray-700" x-text="item.variant_title"></div>
                            <quantity-control class="flex flex-row flex-none w-24 mt-4 max-w-1/2 flex-nowrap focus-within:ring-2 ring-primary-500">
                                <button class="flex-auto w-8 h-8 border border-r-0 border-gray-400 focus:outline-none disabled:bg-gray-200" @click.prevent="item.quantity--;updateCart(index,item.quantity)" :disabled="item.quantity <=0||updating">-</button>
                                <input class="flex-none w-8 h-8 p-1 text-center border border-gray-400 appearance-none focus:border-gray-400" type="text" disabled x-model="item.quantity" :aria-label="`Quantity: ${item.quantity}`" aria-label="Quantity:"/>
                                <button class="flex-auto w-8 h-8 border border-l-0 border-gray-400 focus:outline-none disabled:bg-gray-200" @click.prevent="item.quantity++;updateCart(index,item.quantity)" :disabled="updating">+</button>
                            </quantity-control>
                            <remove-price class="flex-auto w-full pt-2 pr-2 ml-auto text-base text-right divide-x md:pr-8 min-w-max text-cta-600">
                                <button class="flex-none float-left pl-2 pr-2 -ml-2 tracking-wide text-red-600 underline" x-show="item.quantity != 0" @click.prevent="item.quantity=0;updateCart(index,item.quantity)" :disabled="updating">remove</button>
                                <old-price class="hidden pl-2" x-cloak x-text="'$19.00'" ></old-price>
                                <new-price class="pl-2 " x-text="Daybreak.currency.format(item.final_price*item.quantity/100)"></new-price>
                            </remove-price>
                        </item-details>
                    </cart-item>
                </template>
            {%- endfor -%}
        </cart-container>
        <cart-footer class="sticky bottom-0 flex flex-col items-center w-full px-4 py-4 mx-auto bg-white gap-y-4 md:px-16">
            {%- for block in detailsBlocks -%}
                <cart-details class="grid w-full grid-cols-4 mx-auto max-w-screen-xs md:w-3/4">
                    {%- if block.settings.showDiscount -%}
                        <expected-discount>Discount:</expected-discount><new-price x-text="Daybreak.currency.format($store.cart.value/100)"></new-price>
                    {%- endif -%}
                    <sub-total>
                        Subtotal:
                    </sub-total><new-price x-text="Daybreak.currency.format($store.cart.value/100)"></new-price>
                    {%- if block.settings.showShipping -%}
                        <estimated-shipping>Estimated Shipping:</estimated-shipping><new-price x-text="Daybreak.currency.format($store.cart.value/100)"></new-price>
                    {%- endif -%}
                    {%- if block.settings.showTotal -%}
                        <cart-total>Total:</cart-total><new-price x-text="Daybreak.currency.format($store.cart.value/100)"></new-price>
                    {%- endif -%}
                    {%- if block.settings.showDisclaimer -%}
                        <cart-disclaimer class="!col-span-4 text-sm italic text-gray-900/75">Shipping and taxes calculated at checkout</cart-disclaimer>
                    {%- endif -%}
                </cart-details>
            {%- endfor -%}
            <button class="w-full btn-primary" @click.prevent="window.location.href='/checkout'" :disabled="$store.cart.quantity==0||updating">
                <svg class="inline-spinner" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" x-show="updating">
                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
              </svg>
              <span x-text="updating?'updating...':`Checkout - ${Daybreak.currency.format($store.cart.value/100)}`" {%- if cart.item_count < 1 %} disabled {%- endif -%}>Checkout</span>
            </button>
            {%- for block in section.blocks -%}
                {%- case block.type -%}
                    {%- when 'threshold' -%}
                        {%- unless block.settings.showTop -%}
                            <shipping-threshold class="max-w-full py-2 px-4 flex flex-col items-center gap-y-2 border-t border-b border-solid border-cta-600 {{ block.settings.style }}" x-data="shippingThreshold" x-show="threshold" style="display: none;" :class="cartValue>=threshold?'bg-cta-600/40 border-opacity-60':'border-opacity-0'">
                                <threshold-message class="block text-center" x-html="cartValue>=threshold?`{{ block.settings.afterMessage }}`:`{{ block.settings.beforeMessage }}`"></threshold-message>
                                <progress :max="threshold" :value="cartValue" x-text="`${remaining} left`" :class="cartValue>=threshold?'complete':'incomplete'"></progress>
                            </shipping-threshold>
                        {%- endunless -%}
                    {%- when 'payments' -%}
                        <payment-options class="w-full">
                            <div class="">{{ block.settings.paymentsMessage }}</div>
                            {%- if block.settings.showDefault -%}
                                <payment-icons class="flex">
                                    {%- liquid
                                        for type in shop.enabled_payment_types
                                            echo type | payment_type_svg_tag
                                        endfor
                                    -%}
                                </payment-icons>
                            {%- endif -%}
                            {{ block.settings.custom }}
                        </payment-options>
                    {%- when 'continue' -%}
                        {%- liquid
                            case block.settings.target
                                when 'dynamic'
                                    case request.page_type
                                        when 'product'
                                            if collection.url
                                                assign attr = 'href="' | append: collection.url | append: '"'
                                            elsif block.settings.bestCollection.url
                                                assign attr = 'href="' | append: block.settings.bestCollection.url | append: '"'
                                            else
                                                assign attr = 'href="/"'
                                            endif
                                        when 'collection'
                                            assign attr = '@click.prevent="$store.cart.isOpen = false"'
                                        when 'index'
                                            assign attr = '@click.prevent="$store.cart.isOpen = false"'
                                        else
                                            assign attr = 'href="/"'
                                    endcase
                                when 'close'
                                    assign attr = '@click.prevent="$store.cart.isOpen = false"'
                                when 'home'
                                    assign attr = 'href="/"'
                                when 'bestseller'
                                    assign attr = 'href="' | append: block.settings.bestCollection.url | append: '"'
                            endcase
                        -%}
                        <a class="underline hover:opacity-75" {{ attr }}>Continue Shopping</a>
                {%- endcase -%}
            {%- endfor -%}
        </cart-footer>
    </cart-drawer>
</div>

<!-- cart-drawer-comp.liquid END -->


{% schema %}
{
    "name": "Cart Drawer",
    "tag": "aside", 
    "class": "h-0",
    "settings": [
        {
            "type": "text",
            "id": "emptyMessage",
            "label": "Empty Cart Message",
            "default": "Your cart is empty"
        },
        {
            "type": "paragraph",
            "content": "Note: Blocks in this section have default orders, and will mostly not be affected by resorting. A few have some adjustable order."
        }
    ],
    "blocks": [
        {
            "type": "items",
            "name": "Cart Items",
            "limit": 1
        },
        {
            "type": "threshold",
            "name": "Shipping Threshold",
            "limit": 2,
            "settings": [
                {
                    "type": "checkbox",
                    "id": "showTop",
                    "label": "Show at Top of Cart",
                    "default": true
                },
                {
                    "type": "select",
                    "id": "style",
                    "label": "Display Style",
                    "options": [
                        {
                            "value": "glass",
                            "label": "Glass Style Card"
                        },
                        {
                            "value": "minimal",
                            "label": "Minimalist"
                        }
                    ]
                },
                {
                    "type": "text",
                    "id": "beforeMessage",
                    "label": "Cart Too Small Message",
                    "default": "You are ${remaining} away from <strong>FREE SHIPPING</strong>",
                    "info": "Use '${remaining}' for the amount left to spend, and '${thresholdValue}' for the amount needed to qualify. Accepts HTML"
                },
                {
                    "type": "text",
                    "id": "afterMessage",
                    "label": "Message for Those Who Qualify",
                    "default": "Congratulations! You qualify for <strong>FREE SHIPPING</strong>",
                    "info": "Accepts HTML"
                }
            ]
        },
        {
            "type": "details",
            "name": "Cart Details",
            "limit": 1,
            "settings": [
                {
                    "type": "checkbox",
                    "id": "showDiscount",
                    "label": "Show Estimated Discounts",
                    "default": false,
                    "info": "For information on how to get this set up, review the theme documentation"
                },
                {
                    "type": "checkbox",
                    "id": "showShipping",
                    "label": "Show Estimated Shipping",
                    "default": false
                },
                {
                    "type": "checkbox",
                    "id": "showTotal",
                    "label": "Show Total",
                    "default": false
                },
                {
                    "type": "checkbox",
                    "id": "showDisclaimer",
                    "label": "Show Disclaimer Message",
                    "default": true
                }
            ]
        },
        {
            "type": "payments",
            "name": "Available at Checkout",
            "limit": 1,
            "settings": [
                {
                    "type": "text",
                    "id": "paymentsMessage",
                    "label": "Message for Payments",
                    "default": "Available at Checkout"
                },
                {
                    "type": "checkbox",
                    "id": "showDefault",
                    "label": "Show Default Payment Icons",
                    "default": true,
                    "info": "These Icons are generated by Shopify for your currently accepted payments as configured in your Account settings"
                },
                {
                    "type": "html",
                    "id": "custom",
                    "label": "Custom Payment Options"
                }
            ]
        },
        {
            "type": "continue",
            "name": "Continue Shopping",
            "limit": 1,
            "settings": [
                {
                    "type": "radio",
                    "id": "target",
                    "label": "Continue Link Target",
                    "default": "dynamic",
                    "options": [
                        {
                            "value": "dynamic",
                            "label": "Dynamic Target (recommended)"
                        },
                        {
                            "value": "close",
                            "label": "Close Cart Drawer"
                        },
                        {
                            "value": "home",
                            "label": "Home Page"
                        },
                        {
                            "value": "bestseller",
                            "label": "Best Sellers"
                        }
                    ]
                },
                {
                    "type": "collection",
                    "id": "bestCollection",
                    "label": "Best Sellers Collection",
                    "info": "Collection to send users to when the 'Continue Link' is set to 'Best Sellers'"
                }
            ]
        }
    ]
}
{% endschema %}