<!-- sections/collection-highlight-comp.liquid START -->

<h2 class="section-heading py-8 {{ section.settings.text_transform_title }}">
    {{ section.settings.title | escape | default: "Popular Collections" }}
</h2>

<collection-grid class="relative grid w-full max-w-screen-lg grid-flow-row grid-cols-1 gap-6 px-4 mx-auto md:grid-cols-4 sm:grid-cols-2">
    {%- liquid
        for block in section.blocks
            case block.type
                when "collection"
                    assign collection = collections[block.settings.collection]
                    assign image = block.setting.collection_image | default: collection.featured_image
                    assign title = block.settings.collection_title | default: collection.title
                    render 'collection-highlight-item', url: collection.url, image: image, index: forloop.index, title: title
                   
                when "product"
                    assign product = block.settings.product
                    assign image = block.setting.product_image | default: product.featured_image
                    assign title = block.settings.product_title | default: product.title
                    render 'collection-highlight-item', url: product.url, image: image, index: forloop.index, title: title
            endcase
        endfor
    -%}
    {%- if section.settings.overlay -%}
    <img src="{{ section.settings.overlay | img_url: '360x' }}" srcset="{%- render 'responsive-srcset', image: section.settings.overlay -%}" class="absolute inset-0 block object-cover w-full h-full transform pointer-events-none opacity-80 object-x1/3 sm:object-center mix-blend-soft-light md:hidden" loading="lazy" alt="" data-sizes="auto" sizes="5px" width="{{ section.settings.overlay.width }}" height="{{ section.settings.overlay.height }}"/>
    {%- endif -%}
</collection-grid>

<!-- sections/collection-highlight-comp.liquid END -->

{% schema %}

{
    "name": "Popular Collections",
    "tag": "section",
    "settings": [
        {
            "type": "header",
            "content": "Featured Collections"
        }, {
            "type": "text",
            "id": "custom_class",
            "label": "Custom Class",
            "info": "Custom class to apply css styles for specific sections"
        }, {
            "type": "color",
            "id": "border_color_collection_list",
            "label": "Collections Border Color",
            "default": "#444"
        }, {
            "type": "color",
            "id": "text_bg_color_collection_list",
            "label": "Collections Background Text Color",
            "default": "#444"
        }, {
            "type": "color",
            "id": "text_color_collection_list",
            "label": "Collections Text Color",
            "default": "#fff"
        }, {
            "type": "text",
            "id": "title",
            "label": "Headline Text",
            "default": "Featured Collections"
        }, {
            "type": "range",
            "id": "top_margin_featured",
            "info": "Only works if section above is the banner",
            "min": 0,
            "max": 500,
            "step": 5,
            "unit": "px",
            "label": "Position On/Off Banner",
            "default": 125
        }, {
            "type": "select",
            "id": "text_transform_title",
            "label": "Headline Text Transform",
            "options": [
                {
                    "value": " ",
                    "label": "Same as Input"
                }, {
                    "value": "capitalize",
                    "label": "Capitalize"
                }, {
                    "value": "uppercase",
                    "label": "Uppercase"
                }
            ],
            "default": " "
        }, {
            "type": "select",
            "id": "collection_product_title_text_transform",
            "label": "Collection/Product Title Text Transform ",
            "default": "uppercase",
            "options": [
                {
                    "value": "uppercase",
                    "label": "Uppercase"
                }, {
                    "value": "capitalize",
                    "label": "Capitalize"
                }, {
                    "value": "lowercase",
                    "label": "Lowercase"
                }
            ]
        },
        {
            "type": "image_picker",
            "id": "overlay",
            "label": "Overlay Image"
        }
    ],
    "blocks": [
        {
            "type": "collection",
            "name": "Collection",
            "limit": 4,
            "settings": [
                {
                    "label": "Collection",
                    "id": "collection",
                    "type": "collection"
                }, {
                    "label": "Collection Image",
                    "id": "collection_image",
                    "type": "image_picker",
                    "info": "Size: 400x400"
                }, {
                    "label": "Text Title",
                    "id": "collection_title",
                    "type": "text"
                }
            ]
        }, {
            "type": "product",
            "name": "Product",
            "settings": [
                {
                    "label": "Product",
                    "id": "product",
                    "type": "product"
                }, {
                    "label": "Product Image",
                    "id": "product_image",
                    "type": "image_picker",
                    "info": "Size: 400x400"
                }, {
                    "label": "Text Title",
                    "id": "product_title",
                    "type": "text"
                }
            ]
        }
    ],
    "presets": [
        {
            "category": "collection",
            "name": "Collections Highlight",
            "blocks": [
                {
                    "type": "collection"
                }, {
                    "type": "collection"
                }, {
                    "type": "collection"
                }
            ]
        }
    ]
}

{% endschema %}