
<script>
    document.addEventListener('alpine:init', () => {
        {% if request.page_type == 'product' %}
            {%- assign imgurl = product.featured_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
            let currentProduct = {
                title: `{{ product.title }}`,
                price: '{{ product.first_available_variant.price | money }}',
                id: '{{ product.first_available_variant.id }}',
                image: '{{ imgurl }}',
                url: '{{ product.url }}'
            }
        {% else %}
            let currentProduct = {}
        {% endif %}

         Alpine.data('recentlyViewed',({} = {}) => ({
            get items(){
                return this.$store.recentlyViewed.items
            },
            init(){
                this.$store.recentlyViewed.add(currentProduct)
            }
        }))
    });
</script>

<recently-viewed class="max-w-screen-lg mx-auto" x-data="recentlyViewed" x-show="items.length>0" x-cloak>
    <h2 class="pb-16 mx-auto section-heading max-w-max">Recently Viewed</h3>
    <product-grid class="grid-cols-2 md:grid-cols-4">
        <template x-for="product in items">
            <product-card>
                <a :href="product.url" :aria-label="product.title" class="w-full mx-auto">
                    <img class="object-cover w-full" x-rias="product.image" sizes="(max-width: 768px) 48vw, (min-width: 1280px) 410px, 32vw" :alt="product.title" data-sizes="auto" loading="lazy"/>
                </a>
                <card-info>
                    <a class="text-blue-800" :href="product.url" tabindex="-1" x-text="product.title">Product
                    </a>
                    {%- if section.settings.showReviews -%}
                    <a :href="product.url+'#Reviews'">
                        {%- render 'review-stars', product: product, alpine: true -%}
                    </a>
                    {%- endif -%}
                    <card-price>
                        <new-price class="text-lg" x-text="product.price">£50</new-price>
                    </card-price>
                </card-info>
            </product-card>
        </template>
    </product-grid>
</recently-viewed>

{% schema %}
{
    "name": "Recently Viewed",
    "tag": "aside",
    "class": "no-js-hidden",
    "settings": [
        {
            "type": "checkbox",
            "id": "showReviews",
            "label": "Show Reviews",
            "default": true
        }
    ],
    "presets": [
        {
            "category": "cross sell",
            "name":"Recently Viewed"
        }
    ]
}
{% endschema %}